doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    header.site-header 
       a.logo(href='/')
        img(src='/images/downtown-donuts-logo.png', alt='Downtown Donuts logo')

    nav.site-nav 
      a(href='/') Home 
      a(href='/menu') Menu         
      a(href='/about') About Us 
      a(href='/comments') Comments 

    main
      block content
