doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    header.site-header 
       a.logo(href='/')
        img(src='/images/downtown-donuts-logo.png', alt='Downtown Donuts logo')

    nav.site-nav 
      a(href='/') Home 
      a(href='/menu') Menu         
      a(href='/about') About Us 
      a(href='/comments') Comments 

    main
      block content

    footer.site-footer 
      section.footer-content 
        div 
          h2 Downtown Donuts 
          p Family-Owned Since 1992

        div 
          h3 Visit Us 
          p 123 Main Street, Downtown 
          p (555) 867-5309

        div
          h3 Hours 
          p Mon-Fri: 6 AM - 6 PM 
          p Sat-Sun: 7 AM - 4 PM