extends layout 

block content
    section.menu-page 
        header.page-hero 
            p.eyebrow Handcrafted fresh every morning 
            h1 Downtown Donuts Menu 
            p Donuts, coffee, and breakfast bites served daily.

        section.menu-section 
            h2 Signature Donuts 

            article.menu-item 
                div 
                    h3 Classic Glazed 
                    p Light, fluffy, and perfectly glazed.
                span $2.50

            article.menu-item 
                div 
                    h3 Maple Bacon Bar 
                    p Maple glaze topped with crispy applewood bacon.
                span $3.75

            article.menu-item 
                div 
                    h3 Boston Cream 
                    p Bavarian cream filling with dark chocolate ganache.
                span $3.50

            article.menu-item 
                div 
                    h3 Blueberry Cake 
                    p Cake donut bursting with fresh blueberries.
                span $3.25
            
            article.menu-item 
                div 
                    h3 Cinnamon Sugar Twist 
                    p Hand-twisted and tossed in cinnamon sugar.
                span $2.75

            article.menu-item 
                div 
                    h3 Strawberry Frosted 
                    p Strawberry glaze and rainbow sprinkles.
                span $3.00

            article.menu-item 
                div 
                    h3 Chocolate Old Fashioned 
                    p Sour cream donut with rich chocolate glaze 
                span $3.25

            article.menu-item 
                div 
                    h3 Lemon Poppy Seed 
                    p Bright lemon glaze with poppy seed crunch 
                span $3.50

            article.menu-item   
                div 
                    h3 Dulce de Leche 
                    p Caramel cream filled, drizzled with dulce de leche 
                span $3.75

            article.menu-item 
                div 
                    h3 PB & J 
                    p Peanut butter glaze with raspberry jam filling 
                span $3.75

            .aside-box.donut-holes 
                .donut-holes-grid 
                    div 
                        h3 Donut Holes 
                        p Mix and match flavors! 
                    div 
                        p Glazed, Chocolate, or Cinnamon Sugar 
                    div.prices
                        strong Half Dozen $4.50
                        |  &nbsp; | &nbsp;
                        strong Dozen $7.99

        section.menu-section 
            h2 Coffee 

            .coffee-header 
                span 
                span SM 
                span MD 
                span LG 

            article.coffee-item 
                div 
                    h3 Drip Coffee 
                    p House blend or single origin.
                span $2.25
                span $2.75
                span $3.25

            article.coffee-item 
                div 
                    h3 Cold Brew 
                    p Slow-steeped 18 hours, smooth and bold.
                span $3.50
                span $4.00
                span $4.50

            article.coffee-item 
                div 
                    h3 Espresso 
                    p Double shot pulled to order 
                span $3.00
                span -
                span -

            article.coffee-item 
                div
                    h3 Americano 
                    p Espresso and hot water, classic and clean 
                span $3.25
                span $3.75
                span $4.25

            article.coffee-item 
                div 
                    h3 Latte 
                    p Espresso with steamed milk.
                span $4.25
                span $4.75
                span $5.25

            article.coffee-item 
                div 
                    h3 Cappuccino 
                    p Equal parts espresso, steamed milk, foam 
                span $4.25
                span $4.75
                span 5.25

            article.coffee-item 
                div 
                    h3 Mocha 
                    p Espresso, chocolate, steamed milk, whipped cream.
                span $4.75
                span $5.25
                span $5.75

            article.coffee-item 
                div 
                    h3 Vanilla Chai Latte 
                    p Spiced chai with vanilla and steamed milk
                span $4.50
                span $5.00
                span $5.50

            .aside-box.add-ons 
                h3 Add-ons 
                p Extra shot +$0.75 | Flavored syrup +$0.50 | Oat/Almond/Soy milk +$0.60
                p Whipped cream +$0.50 | Cold foam +$0.75
            
        section.menu-section 
            h2 Other Drinks

            article.menu-item 
                div 
                    h3 Fresh Squeezed OJ 
                span $3.50

            article.menu-item 
                div 
                    h3 Hot Chocolate 
                span $3.75

            article.menu-item 
                div 
                    h3 Iced Tea (Sweet/Unsweet)
                span $2.50

            article.menu-item 
                div 
                    h3 Lemonade 
                span $2.75

            article.menu-item 
                div 
                    h3 Milk (Whole, Chocolate, Strawberry)
                span $2.00

            article.menu-item 
                div 
                    h3 Apple Cider (Seasonal)
                span $3.50

        section.menu-section
            h2 Breakfast Bites 
            
            article.menu-item 
                div 
                    h3 Egg & Cheese Croissant
                span $5.50

            article.menu-item 
                div 
                    h3 Bacon Breakfast Sandwich 
                span $6.25

            article.menu-item 
                div 
                    h3 Avocado Toast 
                span $5.75

            article.menu-item 
                div 
                    h3 Yogurt Parfait 
                span $4.50

        section.order-section 
            h2 Order Online
            p Prefer delivery? Use one of our online ordering partners.
            .hero-buttons 
                a.button.secondary(href='https://www.ubereats.com/' target='_blank') UberEats 
                a.button.secondary(href='https://doordash.com/' target='_blank') DoorDash 
                a.button.secondary(href='https://www.grubhub.com/' target='_blank') GrubHub 